<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>bs_videoslider</name>
    <displayName><![CDATA[Video Slider]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Responsive video slider with support for direct videos and Aparat]]></description>
    <author><![CDATA[BizoSizco]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
    <ps_versions_compliancy>
        <min>1.7.0.0</min>
        <max>8.99.99</max>
    </ps_versions_compliancy>
    <author_uri>https://bizosiz.com</author_uri>
    <confirmUninstall><![CDATA[Are you sure you want to uninstall this module?]]></confirmUninstall>
    <configurations>
        <configuration>
            <name>BS_VIDEOSLIDER_TITLE</name>
            <is_html>0</is_html>
            <value>Video Slider</value>
        </configuration>
        <configuration>
            <name>BS_VIDEOSLIDER_POSITION</name>
            <is_html>0</is_html>
            <value>home</value>
        </configuration>
        <configuration>
            <name>BS_VIDEOSLIDER_AUTOPLAY</name>
            <is_html>0</is_html>
            <value>1</value>
        </configuration>
        <configuration>
            <name>BS_VIDEOSLIDER_SPEED</name>
            <is_html>0</is_html>
            <value>3000</value>
        </configuration>
        <configuration>
            <name>BS_VIDEOSLIDER_DESKTOP</name>
            <is_html>0</is_html>
            <value>4</value>
        </configuration>
        <configuration>
            <name>BS_VIDEOSLIDER_TABLET</name>
            <is_html>0</is_html>
            <value>3</value>
        </configuration>
        <configuration>
            <name>BS_VIDEOSLIDER_MOBILE</name>
            <is_html>0</is_html>
            <value>2</value>
        </configuration>
        <configuration>
            <name>BS_VIDEOSLIDER_DOTS</name>
            <is_html>0</is_html>
            <value>1</value>
        </configuration>
        <configuration>
            <name>BS_VIDEOSLIDER_ARROWS</name>
            <is_html>0</is_html>
            <value>1</value>
        </configuration>
        <configuration>
            <name>BS_VIDEOSLIDER_INFINITE</name>
            <is_html>0</is_html>
            <value>1</value>
        </configuration>
    </configurations>
</module>